@font-face {
    font-family: "Cheltenham";
    src: url('mat/font/CheltenhamITCPro-BookCondIt.otf');
    font-style: bold;
}

@font-face {
    font-family: "ABCSynt-Regular";
    src: url('mat/font/ABCSynt-Regular.otf');
    font-style: bold;
}

@font-face {
    font-family: "Helvetica Variable";
    src: url('mat/font/HelveticaNowVar.ttf');
}

* {
    scrollbar-width: none;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    -webkit-appearance: none;
    margin: 0;
    padding: 0;
    border: 0;
}

*::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0;
    height: 0;
    scrollbar-width: none;
}

:root {
    --main-font-color: #000;
    --main-bg-color: #fff;
    /*    --main-highlight-color: #bfbfbf;*/

    --main-text-size: 21px;
    --large-text-size: 70px;
    --small-text-size: 14px;
}

html,
body {
    scroll-behavior: smooth !important;
    -webkit-scroll-behavior: smooth !important;
    /*    scroll-padding: 24px;*/
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    /*    background: #0071ff;*/
    /*    background: var(--main-bg-color);*/
    background: transparent;
    color: var(--main-font-color);
    font-size: 21px;
    line-height: 24px;
}

a {
    color: var(--main-font-color);
    text-decoration: none;
}

sup {
    font-size: 12px;
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}

a:visited {
    color: var(--main-font-color);
}

.openconsole {
    width: 100vw;
    height: 0vh;
    background: #000;
    /*    filter: hue-rotate(180deg);*/
    /*    filter: blur(15px);*/
    transition: height 0.4s;
    cursor: pointer;
    mix-blend-mode: difference;

    display: none;
}

#console {
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    transition: 2s;
    position: fixed;
    pointer-events: none;
    z-index: 4;
    background: #000;
    transition-property: background;
}

.line-number {
    font-size: 12px;
    /*    line-height: 6vw;*/
}

.placeholder {
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    /*    transition-property: background;*/
    transition: background 2s, height 2s;
    position: relative;
    pointer-events: none;
    background: transparent;
}

#console.foreground {
    background: #000;
    /*    color: #fff;*/
}

#console.background {
    background: transparent;
}

#console.blue {
    background: #1D9BF0;
}

#console.red {
    background: #FF4E00;
}

#console.black {
    background: #1e1e1e;
}

#console.grey {
    background: #9FA3A7;
}

#console.yellow {
    background: #a7aeaa;
}

#console.greyred {
    background: #D0D2CB;
}

.consoleText {
    letter-spacing: -4px;
}

h1#headline {
    position: fixed;
    top: 10px;
    left: 10px;
    margin: 0;
    font-size: 7vw;
    font-weight: 600;
    line-height: 6vw;
    font-family: helvetica;
    letter-spacing: -8px;
    max-width: 90vw;
    /*    color: #1e1e1e;*/
    /*    color: var(--main-bg-color);*/
    color: #fff;
    pointer-events: none;
    /*    text-shadow: #e0e2e2 -2px 5px 5px;*/
    opacity: 1;
    transition: 0.5s;
    transition-property: color, opacity;
    margin-left: 20px;
}

h1#headline.background {
    opacity: 0.5;
    color: #fff;
    text-shadow: #31494A47 0px 0px 16px;
}

h1#headline.foreground {
    opacity: 1;
    color: #fff;
}

h1#headline.blue {
    opacity: 1;
    color: #1D9BF0;
    text-shadow: #F4F4F447 0px 0px 16px;
}

h1#headline.red {
    opacity: 1;
    color: #FF4E00;
    text-shadow: #F4F4F447 0px 0px 16px;
}

h1#headline.black {
    opacity: 1;
    color: #1e1e1e;
    text-shadow: #F4F4F447 0px 0px 16px;
}

h1#headline.grey {
    opacity: 1;
    color: #9FA3A7;
    text-shadow: #F4F4F447 0px 0px 16px;
}

h1#headline.yellow {
    opacity: 1;
    color: #a7aeaa;
    text-shadow: #F4F4F447 0px 0px 16px;
}

h1#headline.greyred {
    opacity: 1;
    color: #D0D2CB;
    text-shadow: #F4F4F447 0px 0px 16px;
}

.explainButton {
    cursor: pointer;
    opacity: 0;
    transition: 0.4s;
    pointer-events: all;

    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 7px;

}

.explanationText {
    display: none;
    opacity: 0;
    transition-property: opacity;
    transition: 0.4s;
    pointer-events: none;
}

.explanationText.visible {
    opacity: 1;
}

.explanationFooter {
    position: fixed;
    bottom: 0px;
    margin-left: 10px;
    margin-bottom: 10px;
    opacity: 0;
    transition: 0.4s;
}

.explanationFooter.visible {
    opacity: 1;
}

ul.chapterColumn.desktop {
    padding-top: 65px;
    margin: 0;
    /*    top: 20px;*/
    top: 13px;
    max-width: 38vw;
    position: fixed;
    list-style: none;
    /*    margin-bottom: 200px;*/
    background: transparent;
    height: auto;
    font-size: 2vw;
    font-weight: 420;
    transform: scale(1);
    transform-origin: left top;
    /*    margin-top: 4.5vh;*/
    z-index: 4;
    color: #bfbfbf;

    transition: 0.5s;
    transition-property: transform;
}

ul.chapterColumn.mobile {
    padding: 0;
    margin: 0;
    position: absolute;
    list-style: none;
    background: transparent;
    width: 100vw;
    height: 50px;

    z-index: 4;

    -webkit-text-stroke: var(--main-font-color) 0px;
    bottom: 35px;
    color: var(--main-font-color);
    display: none;

}

li {
    margin: 0;
    margin-bottom: 20px;
    opacity: 1;
}

.chapterItem {
    cursor: pointer;
    transition-property: color;

}

.chapterTitle:hover {
    color: #bfbfbf;
    transition: .2s;
    transition-property: color;
}

.chapterInfo {
    font-size: 18px;
}

.chapterNumber {
    display: inline;
    margin-right: 100px;
}

.pixelHeight {
    display: inline;
}

img {
    height: auto;
    width: 100%;
    z-index: 10;
    pointer-events: none;
}

figcaption {
    font-size: 12px;
    -webkit-text-stroke: var(--main-font-color) 0.8px;
    margin-top: -5px;
}

#gridcontainer {
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 20vw 20vw 1fr;
    grid-column-gap: 10px;
    margin: 15px;
    margin-top: 0;
    z-index: 3;

    position: relative;
    padding-top: 10px;

    background-clip: content-box;
}

#gridcontainer.background {
    background-color: #fff;
}

#gridcontainer.blue {
    background-color: #1D9BF0;
}

#gridcontainer.red {
    background-color: #FF4E00;
}

#gridcontainer.black {
    background-color: #1e1e1e;
}

#gridcontainer.grey {
    background-color: #9FA3A7;
}

#gridcontainer.yellow {
    background-color: #a7aeaa;
}

#gridcontainer.greyred {
    background-color: #D0D2CB;
}


.headerTitle {
    font-family: helvetica;
    /*    font-size: 21px;*/
    margin-top: 10px;
}

.headerTitle.index {
    grid-column-start: 1;
    opacity: 0;
    transition: 0.5s;
    transition-property: opacity;
}

.headerTitle.glossary {
    grid-column-start: 2;
    display: inline-block;
}

.headerTitle.footnotes {
    grid-column-start: 2;
    /*    margin-left: 100px;*/
    display: inline-block;
}


.headerTitle.runningtext {
    grid-column-start: 3;
}


.mediumType {
    font-size: 3vw;
    font-family: Helvetica Variable;
    font-weight: 460;
    line-height: 1;
}

.footnotesColumn {
    display: none;
    opacity: 0;
    transition: 0.4s;
    height: 92vh;
    overflow-y: scroll;
    overflow-x: hidden;
    text-indent: 0px;

    color: #bfbfbf;
}

.footnotesColumn:hover {
    opacity: 1;
}

.text {
    height: 92vh;
    /*    overflow-y: scroll;*/
    -webkit-text-stroke: var(--main-font-color) 1.02px;
    /*    font-size: 21px;*/
    margin-bottom: 10px;
    vertical-align: top;
    overflow-y: scroll;
}

.titlecard {
    -webkit-text-stroke: var(--main-font-color) 1.02px;
    text-align: center;
}

.title {
    /*    font-size: 2.2vw;*/
    font-size: var(--large-text-size);
    /*    font-family: Helvetica Variable;*/
    line-height: var(--large-text-size);

    text-transform: uppercase;
    -webkit-text-stroke: var(--main-font-color) 1.5px;
}

.titlecard.subtitle {
    font-size: var(--main-text-size);
    text-transform: uppercase;
    line-height: var(--main-text-size);
}


.definitionsColumn {
    height: 90vh;
    overflow-y: scroll;
    opacity: 0;
    transition: 0.2s;

    color: #bfbfbf;
    transition-property: opacity;
    vertical-align: top;
    line-height: 3vw;
}

.definitionsColumn:hover {
    opacity: 1;
}

.chapterColumn {
    height: 82vh;
    overflow-y: scroll;
    margin-top: 30px;
}

.footnoteContainer {
    grid-column-start: 3;
    height: 10vh;
    padding-top: 10px;
    columns: 2;
    column-gap: 10px;
    opacity: 0.4s;
    transition-property: opacity;
}

.footnoteItem {
    -webkit-text-stroke: var(--main-font-color) 1.02px;
    line-height: 20px;
    font-size: 16px;
    color: #BFBFBF;
    -webkit-text-stroke: #BFBFBF 1.02px;
}

.footnoteItem:hover {
    cursor: pointer;
}

.footnoteItem.highlighted {
    -webkit-text-stroke: var(--main-font-color) 1.02px;
    color: var(--main-font-color);
}

.footnoteTitle {
    text-indent: 0px;
}

.footnoteContent {
    text-indent: 60px;
    vertical-align: baseline;
}

.footnotes {
    font-size: 14px;
    line-height: 15px;
    /*    columns: 3;*/
    -webkit-text-stroke: var(--main-font-color) 1.01px;
    text-indent: 0px;
    /*    column-gap: 30px;*/
    padding-left: 20px;
}

ol {
    columns: 3;
    column-gap: 30px;
    break-inside: avoid-column;
    page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    -o-column-break-inside: avoid;
    -ms-column-break-inside: avoid;
    column-break-inside: avoid;
}

.footnotes a {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
}

a.footnote-back {
    text-decoration: none;
}

p {
    text-indent: 60px;
    vertical-align: baseline;
}

p:nth-child(1) {
    text-indent: 0px;
}

.definitionWord {
    font-family: helvetica;
    cursor: pointer;

    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 2px;
}

.definitionWord:hover {
    color: var(--main-highlight-color);
    -webkit-text-stroke: var(--main-highlight-color) 1.02px;
}

.definitionsListItem {
    /*    color: #5B5A5A;*/
    transition: 0.2s;
    cursor: pointer;
    transition-property: color, opacity;
    display: block;

}

/*
.definitionsListItem:hover {
    color: #bfbfbf;
}
*/

.definitionsListItem.highlighted {
    color: #bfbfbf;
}

.panel {
    max-height: 0;
    overflow: hidden;
    transition: 0.2s;
    font-family: Times New Roman;
    -webkit-text-stroke: var(--main-font-color) 1.02px;
    color: var(--main-font-color);
    font-size: 16px;
    line-height: 20px;
}

.chapterHeadline {
    font-size: 3vw;
    line-height: 2.8vw;
    /*
    text-indent: 0;
    padding-left: 60px;
*/
}

.subheadline {
    text-transform: uppercase;
    text-indent: 0;
    padding-left: 60px;
}

.glossaryTags {
    color: var(--main-font-color);
    transition: 0.2s;
}

.glossaryTags:hover {
    color: var(--main-font-color);
    cursor: pointer;
}

.subheadline.mobile {
    display: none;
}

.footerfootnotes {

    display: none;
}

.footerdefinitions {

    display: none;
}

.style_1 {
    /*    font-family: arial;*/
    background-color: #FFFFFF;
    color: rgb(18, 18, 18);
    /*    line-height: 46px;*/
    font-family: Cheltenham;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: table;
}

.style_2 {
    color: #000;
    font-family: ABCSynt-Regular;
    letter-spacing: -1x;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: table;
}

.style_3 {
    font-style: italic;
    color: #000;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: table;
    /*    background: #C20017;*/
}

.style_4 {

    font-style: italic;

    color: #000;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: table;
}

.style_5 {
    color: #000;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: table;
}






/*rescaling for Mobile Versions*/
@media only screen and (max-device-width: 602px) {
    body {
        font-size: 5vw;
        line-height: 1.1;
    }

    :root {
        --large-text-size: 30px;
    }

    p {
        text-indent: 30px;
        /*        vertical-align: baseline;*/
    }

    .text {

        overflow-y: scroll;
        overflow-x: hidden;

        mask-image: linear-gradient(transparent, black 2%, black 98%, transparent 100%);
        -webkit-mask-image: linear-gradient(transparent, black 2%, black 98%, transparent 100%);

        height: 79vh;
    }

    .chapterHeadline {
        font-size: 7vw;
        line-height: 7vw;
    }

    .definitionsColumn.desktop {
        display: none;
    }

    .definitionsColumn.mobile {
        display: block;
        opacity: 1;
        color: var(--main-font-color);
        position: relative;
        height: auto;
        overflow-y: hidden;
        font-size: 7vw;
        line-height: 7vw;
        padding-top: 20px;
    }

    #gridcontainer {
        grid-template-columns: 1fr;
        height: 79vh;
        overflow-y: scroll;
        position: absolute;
    }

    ul.chapterColumn.desktop {
        display: none;
    }

    ul.chapterColumn.mobile {
        display: block;
        height: var(--main-text-size);
        text-align: justify;
        left: 50%;
        transform: translate(-50%, 0);
        width: auto;
        min-width: 90vw;
        overflow-y: hidden;
        text-align: center;

        display: flex;
        align-items: stretch;
        /* Default */
        justify-content: space-between;
        width: calc(100vw - 0px);
    }

    li.chapterItem {
        margin-bottom: 40px;
        /*        display: inline-block;*/
        width: calc((100vw / 7) - 15px);
        text-align: justify;
        text-align: center;
        display: block;
        flex: 0 1 auto;
        /* Default */
        list-style-type: none;
    }

    .chapterInfo {
        font-size: 3vw;
    }

    .subheadline {
        text-indent: 0;
        padding-left: 30px;
    }

    .headerTitle {
        display: none;
    }

    .headerTitle.glossary {
        display: none;
    }

    .headerTitle.footnotes {
        display: none;
    }

    .placeholder {
        height: 10vh;
    }

    .footnotes {
        font-size: 3vw;
        line-height: 1;
    }

    .footnotesColumn.desktop {
        display: none;
    }

    .footnotesColumn.mobile {
        display: block;
        opacity: 1;
        height: auto;
        position: relative;
    }

    .footnoteItem {
        color: #bfbfbf;
        -webkit-text-stroke: #bfbfbf 1.02px;
    }

    ol {
        columns: 2;
        column-gap: 30px;
        break-inside: avoid-column;
        page-break-inside: avoid;
        -webkit-column-break-inside: avoid;
        -moz-column-break-inside: avoid;
        -o-column-break-inside: avoid;
        -ms-column-break-inside: avoid;
        column-break-inside: avoid;
    }

    h1#headline {
        font-size: 12vw;
        line-height: 10vw;
    }

    .panel {
        font-size: 4vw;
        line-height: 1;
    }

    .subheadline.mobile {
        display: block;
    }

    .footeritem {
        position: absolute;
        display: inline-block;
        color: var(--main-font-color);
        -webkit-text-stroke: var(--main-font-color) 1.02px;
        opacity: 1 !important;
        visibility: visible;
        z-index: 12;
    }

    .footerfootnotes {
        left: 10px;
        bottom: 10px;
        opacity: 1 !important;
    }

    .footerdefinitions {
        right: 10px;
        bottom: 10px;
        opacity: 1 !important;
    }

    .openconsole {
        display: none;
    }

}


@media only screen and (min-device-width: 802px) {
    .definitionsColumn.mobile {
        display: none;
    }
}
